{% extends 'layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>OO Battleships of Space</h1>
    </div>
    <div>
        <h2 class="text-center">The Matchup:</h2>
{#        <p class="text-center">#}
{#            <br>#}
{#            <?php echo $ship1Quantity; ?> <?php echo $ship1->getName(); ?><?php echo $ship1Quantity > 1 ? 's': ''; ?>#}
{#            VS.#}
{#            <?php echo $ship2Quantity; ?> <?php echo $ship2->getName(); ?><?php echo $ship2Quantity > 1 ? 's': ''; ?>#}
{#        </p>#}
    </div>
    <div class="result-box center-block">
        <h3 class="text-center audiowide">
            Winner:
{#            {<?php} if ($outcome->getWinner() instanceof Ship): ?>#}
            {{ outcome.winner.name }}
{#            <?php else: ?>#}
{#            Nobody#}
{#            <?php endif; ?>#}
        </h3>
{#        <p class="text-center">#}
{#            <?php if ($outcome->getWinner() === null && $outcome->getLoser() === null): ?>#}
{#            Both ships destroyed each other in an epic battle to the end.#}
{#            <?php else: ?>#}
{#            The <?php echo $outcome->getWinner()->getName(); ?>#}
{#            <?php if ($outcome->wasForceUsed()): ?>#}
{#            used its Jedi Powers for a stunning victory!#}
{#            <?php else: ?>#}
{#            overpowered and destroyed the <?php echo $outcome->getLoser()->getName() ?>s#}
{#            <?php endif; ?>#}
{#            <?php endif; ?>#}
{#        </p>#}
    </div>
    <a href="/"><p class="text-center"><i class="fa fa-undo"></i> Battle again</p></a>
{% endblock body %}